//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied
// See the License for the specific language governing permissions and
// limitations under the License.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
SAMPLE_CODE_DISAMBIGUATOR=${DEVELOPMENT_TEAM}
SCANDIT_LICENSE_KEY=AZ8FgbqBLhmmMAbzNsca0r9Cv7fc1CwvIHYlFThX5FH6W6V2NS1Y9cpGY7HbWW/WNH0X/X1YmjIZDYhuYGBtGypnYEcCcbUN2D3XkPh0vXyfHpUeZWUVS6t0s+cGaOjMCEbCO/J/PxJURNe7BBgFW+IM2BEvIK/D5gSWBL81n/iIiJlR+gdj8Z4ppyf5xrN+h7w3v+yX3MOq3jKvJkzbQRFpaSbHRxBJsdza/QNGLvvbAWA8GNkImRQF6ZkZuxB4Exc9hZNqTupjj46xufzfpZLhJL57MW0Dx7TpLyoYoIf3bObs2qHeym5k0YOn20BC5H43rvgDJjf1fZZjY0xx+jyXDlmm6sl7zI3w6waN2WxoPsBV2HlPvzkIIyIjgeRTjwvWmt1TruJfo6W5JdpWE+aOINmCw7DXMJme5hjG3DSpbKMyfphf+WWY0Ku2XYR/FpKaC14xqZY44shEH0ZJQgHADesE1D9eDDEVprsc8tEesQn0GQWWf78yBBRY/YINeUf6LWxyl0FvlTNZnqgLTw7r0K3Xp5GPYF2A+8FrBRvDYidxTyuSjZ0FyOQGed6kiVA4XFPbg0RnpTsJAnkO10ZcltIfzHo2D4TTbC+NVVcCE4zw7y9iT3VrPuEj46arX868CwGlRmAVqJWf9Lbl4dcVWKeszG+KbcAou4H/N/fJhDVVoKSzpZV80atb4VkMfntvKEwlKqXUzdfLQvvSqyi9bQ34Ch678XDa+QZoLgcPQplKAZnQagVoM4jsAj8I0+YZ9gENfqmWZaVPvI3kBAo4RiyzxG9iNzb56NUlTbqpgNcaoOUd0KzChb9/UfwHDgT2sCYU14lVuUK307mO28I=
